.details {
    &-section {
        position: relative;
        padding-inline-start: 1.5rem;
        padding-inline-end: 1.5rem;
        padding-block-start: 2.5rem;


        @include respond(min-tab-port) {
            display: flex;
            justify-content: space-between;
            padding-inline-start: 7.875rem;
            padding-inline-end: 7.875rem;
            position: relative;
            top: -21rem;
        }

        .float {
            &.circle {
                position: absolute;
                width: 5rem;
                height: 5rem;
                background: $color-red-light;
                border-radius: 50%;
                inset-block-start: 0;
                inset-inline-end: -1rem;

                @include respond(min-tab-port) {
                    inset-inline-start: -1.5rem;

                }
            }
        }
    }
}

.detail {
    display: flex;
    flex-direction: column;
    margin-block-end: 2.5rem;

    @include respond(min-tab-port) {
        width: 19rem;
    }

    &-top {
        display: flex;
        align-items: center;
        gap: 1rem;

        &-icon {
            width: auto;
            height: 2rem;
            object-fit: contain;

            &-container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                background: $color-primary-part-transparent;
            }
        }

        &>h3 {
            font-size: 1.562rem;
            font-family: 'adoveFnt22-bold', sans-serif;
        }

        & {
            opacity: 0;
            transform: translateY(50%);
            transition: all 0.5s;
            will-change: transform opacity;
        }

        &.is-visible {
            overflow: hidden;
            opacity: 1;
            transform: translateY(0%);
        }
    }

    &-bottom {
        margin-block-start: 0.5rem;

        p {
            font-size: 1rem;
            line-height: 1.875rem;
            padding-inline-end: 1rem;
        }

        & {
            opacity: 0;
            transform: translateY(50%);
            transition: all 0.5s;
            will-change: transform opacity;
        }

        &.is-visible {
            overflow: hidden;
            opacity: 1;
            transform: translateY(0%);
        }

    }
}