.family {
    &-section {
        position: relative;
        // padding-inline-start: 1.5rem;
        // padding-inline-end: 1.5rem;
        padding-block-start: 3rem;

        .float {
            &.circle {
                position: absolute;
                width: 8.09rem;
                height: 8.09rem;
                background: $color-primary;
                border-radius: 50%;
                inset-block-end: 0;
                inset-inline-end: -1rem;
                z-index: 1;
            }
        }
    }

    // .float.container {
    //     position: absolute;
    //     top: 0;
    //     background: transparent;
    // }
    &-smiley.lazyload {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: -50%;
        transform: translateX(-50%);
        width: 10.719rem;
        height: 5rem;

    }

    &-icon {
        width: auto;
        height: auto;
        object-fit: cover;

        &-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background: $color-primary-part-transparent;
            position: absolute;
            inset-block-start: 3%;
            inset-inline-end: 50%;
            transform: translate(-50%, 0);
            box-shadow: 2px 2px 16px rgba($color-black, 0.25);
        }
    }

    &-container {
        background: $color-primary-part-transparent;
        text-align: center;
        padding-inline-start: 1.5rem;
        padding-inline-end: 1.5rem;
        padding-block-start: 4.56rem;
        padding-block-end: 4.063rem;

    }

    &-card {
        position: relative;
        width: 19.5rem;
        height: auto;
        border-radius: 32px;
        background: $color-white;
        padding-inline-start: 1.9rem;
        padding-inline-end: 1.9rem;
        padding-block-start: 2.5rem;
        padding-block-end: 2.75rem;
        margin-inline-end: auto;
        margin-inline-start: auto;
        z-index: 2;

        &-img {
            width: calc(100% + 4rem);
            height: auto;
            transform: translateX(2rem);

        }

        &>h3 {
            padding-block-start: 3rem;
            font-size: 1.953rem;
            line-height: 1.953rem;
        }

        &>p {
            font-size: 1rem;
            line-height: 1.875rem;
            text-align: center;
        }
    }
}