.meet {
    &-section {
        width: 100%;
        padding-inline-start: 1.5rem;

        @include respond(min-tab-port) {
            padding-inline-start: 7.875rem;
            padding-block-start: 3.875rem;
        }
    }

    &-logo {
        width: 3.935rem;
        height: auto;

        @include respond(min-tab-port) {
            width: 5rem;
            max-width: 5rem;
        }
    }

    &-title {
        width: 100%;
        line-height: 2.6rem;
        margin-block-start: -1rem;

        @include respond(min-tab-port) {
            font-size: 3.05rem;
            padding-block-start: 1.5rem;
            padding-block-end: 2rem;
        }
    }


    &-text {
        display: flex;
        justify-content: space-between;
        margin-block-start: 1rem;

        @include respond(min-tab-port) {
            margin-block-start: 0;
            overflow: initial;
            // padding-block-start: 1.5rem;
        }

        & p {
            // width: 70%;
            font-size: 1rem;
            width: fit-content;

            @include respond(min-tab-port) {
                width: 36.75rem;
                height: fit-content;

            }

            &:empty {
                display: none;
            }
        }

        &>img {
            width: 6.5rem;
            height: 100%;
            background-size: cover;
            aspect-ratio: 104 / 184;
            shape-outside: url(../assets/images/meet-section/blue-face.webp);

            @include respond(min-tab-port) {
                width: 20.3rem;
                position: relative;
                display: inline-block;
                top: -10rem;
            }

        }
    }
}