header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block-start: 1rem;
    padding-block-end: 0;

    .header-img {
        width: 9.55rem;
        height: auto;
        max-width: 170px;

        @include respond(min-tab-port) {
            width: 15.23rem;
            max-width: fit-content;
            padding-block-start: 1.5rem;
            padding-block-end: 1.5rem;

        }
    }
}

.menu {
    position: fixed;
    top: 1.5rem;
    right: 1.05rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: $color-primary;
    z-index: 5;

    // box-shadow: 2px 2px 16px rgb(0 0 0 / 25%);
    // filter: drop-shadow(0px 1px 5px black);
    &-icon {

        &-container {
            position: relative;
            width: 100%;
            height: 100%;
            transform: rotate(0deg);
            transition: 0.3s all 0.3s;

            &::before {
                content: '';
                border: 2px solid white;
                background: $color-white;

                width: 2rem;
                border-radius: 1rem;
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%, -50%) rotate(90deg);
                opacity: 1;
                transition: 0.3s all 0.3s;

            }

            &::after {
                content: '';
                border: 2px solid white;
                background: $color-white;
                width: 2rem;
                border-radius: 1rem;
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%, -50%);
            }

            &.open {
                transform: rotate(-360deg);
                transition: 0.3s all;

                &::before {
                    opacity: 0;
                    transform: translate(50%, -50%);
                    transition: 0.3s all;
                }
            }
        }
    }

    &+.menu-buttons-container {
        position: fixed;
        top: 1.5rem;
        right: 1.05rem;
        width: 4rem;
        height: 4rem;
        background: transparent;
        z-index: 4;
        transition: 0.3s all;

        &>.menu-buttons-fixed {
            position: relative;
            width: 100%;
            height: 100%;
        }

        & .menu-button {
            position: absolute;
            background: $color-primary;
            width: 1.5rem;
            height: 1.5rem;
            opacity: 0;
            // background: red;
            // width: 1.5rem;
            // height: 1.5rem;
            transition: 0.2s all;

            &-icon {
                width: 1.2rem;
                height: auto;
            }

            &-phone {
                opacity: 0;
                width: 3rem;
                height: 3rem;
                bottom: 0%;
                right: 0px;
                border: none;
                border-radius: 10rem;
                justify-content: center;
                display: flex;
                align-items: center;
                color: white;
                font-size: 1rem;
                transform: translate(-10px, -10px);
                transition: .3s all;
            }

            &-location {
                opacity: 0;
                width: fit-content;
                height: auto;
                top: 25%;
                left: -25%;
                transform: translate(10px, -55%);
                border: none;
                border-radius: 10rem;
                padding: 0.5rem 1rem;
                display: flex;
                align-items: center;
                color: white;
                font-size: 1rem;
                gap: 1rem;
                transition: .3s all;
            }
        }

        // &-phone {
        //     position: fixed;
        //     bottom: -50%;
        //     transition: 0.3s all 0.3s;
        // }

        // &-location {
        //     position: fixed;
        //     left: -50%;
        //     transition: 0.3s all 0.3s;
        // }
    }

    &.open {
        &+.menu-buttons-container {
            position: fixed;
            top: 1.5rem;
            right: 1.05rem;
            width: 80%;
            height: 9rem;
            background: transparent;
            z-index: 4;
            transition: 0.3s all 0.3s;

            @include respond(min-tab-port) {
                width: 18rem;
            }

            & .menu-button {
                position: absolute;
                background: $color-primary;
                width: 1.5rem;
                height: 1.5rem;
                opacity: 1;
                // filter: drop-shadow(0px 1px 4px rgba(black, 0.6));
                transition: 0.3s all 0.3s;

                &-icon {
                    width: 1.2rem;
                    height: auto;
                }

                &-phone {
                    opacity: 1;
                    width: 3rem;
                    height: 3rem;
                    bottom: 0%;
                    right: 0px;
                    border: none;
                    border-radius: 10rem;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    color: white;
                    font-size: 1rem;
                    transform: translate(-10px, -10px);
                }

                &-location {
                    opacity: 1;
                    width: fit-content;
                    height: auto;
                    top: 25%;
                    left: 0.4rem;
                    transform: translate(10px, -55%);
                    border: none;
                    border-radius: 10rem;
                    padding: 0.5rem 1rem;
                    display: flex;
                    align-items: center;
                    color: white;
                    font-size: 1rem;
                    gap: 1rem;
                    transition: 0.3s all 0.3s;

                }
            }
        }
    }
}



.top {
    &-section {
        position: relative;
        display: flex;
        color: white;
        flex-direction: column;
        padding-block-end: 2rem;
        height: auto;
        // @include respond(min-tab-port) { }
    }


    &-img {
        // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        height: 29.5rem;

        @include respond(min-tab-port) {
            height: 36.5rem;
        }

        &>img {
            object-fit: cover;
            width: auto;
            height: 100%;
            z-index: -1;
            position: relative;
            right: -5rem;


            @include respond(min-tab-port) {
                object-fit: contain;
                width: 100%;
                height: auto;
                top: -5rem;
                right: 0;
            }
        }
    }

    &-title {
        position: absolute;
        padding-inline-start: 0.5rem;
        padding-inline-end: 0.5rem;
        inset-block-end: 4.5rem;
        font-size: 3rem;
        // font-size: 3.25ch;
        line-height: 3rem;
        text-align: center;
        align-self: center;
        font-family: 'adoveFnt22-bold', sans-serif;

        @include respond(min-tab-port) {
            font-size: 4.5525rem;
            line-height: 4.5525rem;
            width: 48rem;
        }
    }

    &-smiley {
        position: absolute;
        inset-block-end: 0;
        inset-inline-end: 4rem;
        width: 6.431rem;
        height: 3rem;

        @include respond(min-tab-port) {
            left: 35.5%;
        }

    }
}