.footer {
    background: $color-primary;
    padding-block-start: 6.25rem;
    padding-block-end: 4.25rem;
    text-align: center;

    &-logo {
        width: 9.563rem;
        height: auto;
    }
}